.judul {
    position: relative;
    color: #050525;
    font-weight: bold;
}

.judul::after {
    content: "";
    width: 2rem;
    height: 5px;
    background: #050525;
    position: absolute;
    bottom: -14px;
    left: 0;
}

.judul-tengah {
    position: relative;
    color: #050525;
    font-weight: bold;
}

.judul-tengah::after {
    content: "";
    width: 2rem;
    height: 5px;
    background: #050525;
    position: absolute;
    bottom: -14px;
    left: 660px;
}

.place {
    position: relative;
}

.place::after {
    content: "";
    width: 4.3rem;
    height: 5px;
    background: #050525;
    position: absolute;
    bottom: -14px;
    left: 405px;
}

h2 h5 {
    color: #070B33;
}

.memphis {
    height: 250px;
    width: 250px;
    background-color: #2f2f2f;
    border-radius: 50%;
    display: inline-block;
    margin-left: 4em;
    margin-top: 3em;
}